@model IEnumerable<LogisticsAssistant.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.departureStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departureEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.roadLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.truckId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.scheduleCreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.departureStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departureEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roadLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.truckId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.scheduleCreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
